horizontal-text-group {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: 1fr;
	gap: var(--space-lg);
	min-width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	justify-content: center;
}

horizontal-text-group group {
	display: flex;
	gap: 32px;
}
horizontal-text-group column {
	flex: 1;
	width: 100%;
	max-width: 400px;
}

@media (width < 768px) {
	horizontal-text-group {
		grid-template-columns: repeat(2, auto);
		grid-template-rows: 1fr;
		gap: 1.5rem;
	}
}