team-card-group {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-lg);
}
team-card {
	display: flex;
	flex-direction: column;
	border-left-color: var(--color-carbon-black);
	border-left-width: var(--space-sx);
	border-left-style: solid;
	padding-left: var(--space-sm);
	min-width: 200px;
	max-width: 200px;
}
team-card h1,
team-card h2,
team-card h2,
team-card h3,
team-card h4,
team-card h5,
team-card h6,
team-card p {
	font-family: var(--font-body);
	font-weight: bold;
}
team-card h1,
team-card h2,
team-card h3,
team-card h4,
team-card h5,
team-card h6 {
	font-weight: bold;
}
team-card p {
	font-size: 0.75em;
	color: var(--color-carbon-black);;
}