*, *::before, *::after {
	box-sizing: border-box;
}

*:not(dialog) {
	margin: 0;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
	margin: 0;
}

ul[class], ol[class] {
	list-style: none;
}

html:focus-within {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	text-rendering: optimizeLegibility;
	line-height: 1.5;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*, *::before, *::after {
		animation-duration: 0.01ms !important;
	    animation-iteration-count: 1 !important;
	    transition-duration: 0.01ms !important;
	    scroll-behavior: auto !important;
	}
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100%;
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-top: var(--space-sx);
	padding-bottom: var(--space-sx);
	padding-left: var(--space-md);
	padding-right: var(--space-md);
}
